.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 18px;
    border: 3px solid transparent;
    box-shadow: 0px 0px 2px 2px, inset -2px 0px 2px, inset 2px 0px 2px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
    color: black;
}

.gg-trash.right {
    float: right;
}

.gg-trash.m-l-25 {
    margin-left: 25px;
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::before {
    width: 14px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -8px;
    left: -3px;
}

.anim.gg-trash::before {
    width: 14px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -8px;
    left: -3px;
    animation: animtrash 0.6s linear infinite;
}

@keyframes animtrash {
  0% { top: -8px }
  25% { top: -7px }
  50% { top: -8px }
  75% { top: -9px }
  100% { top: -8px }
}
